<div class="container py-4">
  <h1 class="text-center">Registrase</h1>
  <div class="container pt-3">
    <div class="row justify-content-sm-center">
      <div class="col-sm-6 col-md-4">
        <form id="loginform" (ngSubmit)="onRegistro()" [formGroup]="registroForm">
          <div class="form-group">
            <label for="exampleFormControlInput1">Nick</label>
            <input type="text" class="form-control" placeholder="Nick" formControlName="nick"
              [ngClass]="{ 'is-invalid': isValidField('nick') }">
            <div class="invalid-feedback">
              <span *ngIf="registroForm.get('nick').errors?.required">
                * Ponga su nick.
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Email</label>
            <input type="email" class="form-control" placeholder="name@example.com" formControlName="email"
              [ngClass]="{ 'is-invalid': isValidField('email') }">
            <div class="invalid-feedback">
              <span *ngIf="registroForm.get('email').errors?.required">
                * Ponga su email
              </span>
              <span *ngIf="registroForm.get('email').errors?.pattern">
                * Formato inválido.
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Contraseña</label>
            <input type="password" class="form-control" placeholder="Contraseña" formControlName="password"
              [ngClass]="{ 'is-invalid': isValidField('password') }">
            <div class="invalid-feedback">
              <span *ngIf="registroForm.get('password').errors?.required">
                * Ponga su clave.
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Confirmar Contraseña</label>
            <input type="password" class="form-control" placeholder="Confirmar contraseña" formControlName="password2"
              [ngClass]="{ 'is-invalid': isValidField('password2') }">
            <div class="invalid-feedback">
              <span *ngIf="registroForm.get('password2').errors?.required">
                * Confirme su clave.
              </span>
            </div>
          </div>
          <div class="form-group row" *ngIf="validarPassword()">
            <div class="col-md-12">
              <div class="text-danger">
                <span>* La contraseñas deben coincidir.</span>
              </div>
            </div>
          </div>
          <button class="btn btn-lg btn-primary btn-block" [disabled]="registroForm.invalid"
            type="submit">Registrarse</button>
          <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
              Tienes una cuenta? <a [routerLink]="['/login']" class="text-primary m-l-5"><b>Login</b></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>