<app-navbar estado="true"></app-navbar>
<div class="container py-4">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title text-center">Ponga su correo: </h3>
        <div class="form-group">
          <input type="email" class="form-control" [formControl]="email" placeholder="Ingrese su correo" required>
        </div>
        <div class="form-group text-center">
          <button class="btn btn-primary btn-lg" (click)="onReset()">Enviar correo</button>
        </div>
    </div>
  </div>
</div>
